:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color:#333;
}
*{
    box-sizing: inherit; 
    /* kế  thừa */
}
html{
    /* 1rem = 16px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/*  line-height: chiều cao  */

.grid{
    width: 950px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;

}
.grid_row{
    display: flex;
    flex-wrap: wrap;
}